:root {
  /* Color */
  --bg-primary: #f58115;
  --bg-secondary: #fbc5a4;
  --accent: #cb4700;
  --accent-dark: #70008a;
  --text: #534646;
  /* Font size */
  --size: 16px;
  --p-size: 1rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text);
  font-size: var(--size);
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7rem;
  background-color: var(--bg-secondary);
  z-index: 2;
  position: fixed;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav li {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: var(--accent);
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.logo img {
  width: 4.5rem;
}

/* DROPDOWN MENU */
.dropdown-button {
  border: none;
  background-color: transparent;
}
.hamburger-button div {
  width: 40px;
  height: 6px;
  background-color: var(--accent);
  border-radius: 6px;
  margin: 5px;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  display: inline-block;
}
.hamburger-inner {
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: var(--accent);
  border-radius: 6px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: 10px;
}
.hamburger-inner::after {
  top: 20px;
}
.hamburger-inner.is-active {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-inner.is-active::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger-inner.is-active::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 12px;
  padding-right: 20px;
  gap: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.hamburger:hover {
  cursor: pointer;
}
.dropdown-content {
  padding: 35px;
  padding-top: 0;
  margin-top: 32px;
  text-align: end;
  background-color: var(--bg-secondary);
  position: fixed;
  right: -100%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  top: 8%;
}
.show {
  opacity: 1;
  right: 0;
}
.menu-desktop {
  display: none;
}
.menu-desktop ul {
  display: flex;
  padding-right: 2rem;
}

/* MAIN */
main {
  padding: 7rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: var(--bg-secondary);
  text-align: center;
  margin-bottom: 0;
}
h2 {
  color: var(--bg-secondary);
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
h3 {
  text-align: center;
  margin-top: 0.5rem;
}
h4 {
  text-align: center;
  margin: 0;
}
main img {
  width: 100%;
}
.more-desktop {
  display: none;
}

/* PORTFOLIO SECTION */
.portfolio {
  margin-top: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.card a {
  text-decoration: none;
  text-align: center;
}
.card {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card-info {
  position: absolute;
  top: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--bg-secondary);
  padding: 0 0.5rem 0.09rem;
  transition: 0.5s ease;
  /* background-color: var(--bg-secondary); */
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.card h4 {
  text-transform: uppercase;
  position: absolute;
  color: var(--bg-secondary);
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 1;
}
.img-container {
  overflow: hidden;
}
.card img {
  transition: 0.5s ease;
}
.card:hover img {
  transform: scale(1.2);
}
.card:hover .card-info {
  display: flex;
}
/* FOOTER */
footer {
  height: 7rem;
  background-color: var(--bg-secondary);
}
.socials {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}
footer img {
  width: 2rem;
}
footer p {
  text-align: center;
  margin: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
  .dropdown {
    display: none;
  }
  .menu-desktop {
    display: flex;
  }
  .introduction {
    display: flex;
    flex-direction: row;
  }
  .more-desktop {
    display: block;
  }
  .more-mobile {
    display: none;
  }
  .introduction img {
    width: 50%;
  }
  .introduction .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    max-width: 40%;
  }
}
