:root {
  /* Color */
  --bg-primary: #fc9904;
  --bg-secondary: #fff6a7;
  --accent: #ff6813;
  --accent-dark: #70008a;
  --text: #2c2828;
  /* Font size */
  --size: 16px;
  --p-size: 1rem;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-VariableFont_wght.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text);
  font-size: var(--size);
  font-family: 'Quicksand';
}
/* HEADER */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7rem;
  background-color: var(--bg-secondary);
  z-index: 2;
  position: fixed;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav li {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: var(--accent);
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.logo img {
  width: 4.5rem;
}

/* DROPDOWN MENU */
.dropdown-button {
  border: none;
  background-color: transparent;
}
.hamburger-button div {
  width: 40px;
  height: 6px;
  background-color: var(--accent);
  border-radius: 6px;
  margin: 5px;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  display: inline-block;
}
.hamburger-inner {
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: var(--accent);
  border-radius: 6px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: 10px;
}
.hamburger-inner::after {
  top: 20px;
}
.hamburger-inner.is-active {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-inner.is-active::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger-inner.is-active::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 12px;
  padding-right: 20px;
  gap: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.hamburger:hover {
  cursor: pointer;
}
.dropdown-content {
  padding: 35px;
  padding-top: 0;
  margin-top: 32px;
  text-align: end;
  background-color: var(--bg-secondary);
  position: fixed;
  right: -100%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  top: 8%;
}
.show {
  opacity: 1;
  right: 0;
}
.menu-desktop {
  display: none;
}
.menu-desktop ul {
  display: flex;
  padding-right: 2rem;
}

/* MAIN */
main {
  padding: 7rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: var(--bg-secondary);
  text-align: center;
  margin-bottom: 0;
}
h2 {
  color: var(--bg-secondary);
  text-align: center;
  text-transform: lowercase;
  font-size: 1.2rem;
}
h3 {
  text-align: center;
  margin-top: 0.5rem;
}
h4 {
  text-align: center;
  margin: 0;
}
main img {
  width: 100%;
}
.more-desktop {
  display: none;
}
.more-mobile {
  padding-top: 7rem;
  margin-top: -7rem;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.more-mobile-h4 {
  margin-top: 3rem;
  transition: 0.5s ease;
}
.more-mobile-p {
  padding: 1rem 2rem 2rem;
  transition: 0.5s ease;
}

/* PORTFOLIO SECTION */
.portfolio {
  margin-top: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card a {
  text-decoration: none;
  text-align: center;
}
.card-container {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card-info {
  position: absolute;
  top: 0;
  margin: 0;
  transition: 0.5s ease;
  background-color: rgb(44, 40, 40, 0.92);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.card-info p {
  text-transform: uppercase;
  color: var(--bg-secondary);
  font-weight: 700;
  padding: 2rem;
}
.card + h4 {
  text-transform: uppercase;
  /* position: absolute; */
  color: var(--bg-secondary);
  bottom: 0;
  /* margin-bottom: 0; */
  margin: 0 0 1.5rem;
  width: 100%;
  z-index: 1;
}
.img-container {
  overflow: hidden;
  object-fit: cover;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  transition: 0.5s ease;
}
.card:hover img {
  transform: scale(1.2);
}
.card:hover .card-info {
  display: flex;
}
.contact-container h4 {
  font-size: 1.5rem;
  margin-top: 3rem;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-container ul {
  list-style: none;
}
.contact-container li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-container img {
  width: 1.8rem;
}
.contact-container a {
  text-decoration: none;
  color: var(--bg-secondary);
}
.back-to-top {
  text-align: center;
  margin: 3rem 1rem 1rem;
}
/* FOOTER */
footer {
  height: 7rem;
  background-color: var(--bg-secondary);
}
.socials {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}
footer img {
  width: 2rem;
}
footer p {
  text-align: center;
  margin: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
  .dropdown {
    display: none;
  }
  .menu-desktop {
    display: flex;
  }
  .introduction {
    display: flex;
    flex-direction: row;
  }
  .more-desktop {
    display: block;
    text-align: center;
  }
  .more-desktop h4 {
    margin-top: 3rem;
  }
  .more-mobile,
  .more-mobile-h4,
  .more-mobile-p {
    display: none;
  }
  .introduction img {
    max-width: 40%;
  }
  .introduction {
    flex-direction: row;
    margin: 3rem 6rem 0;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
  }
  .introduction-text {
    align-self: baseline;
  }
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  .card-container {
    max-width: 30%;
  }
}
